# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
ENV/

# -----------------------------
# PyInstaller / Executables
# -----------------------------
dist/
build/
*.spec
*.exe
*.dll
*.pdb

# -----------------------------
# IDEs
# -----------------------------
.idea/
.vscode/
*.code-workspace

# -----------------------------
# OS Files
# -----------------------------
Thumbs.db
.DS_Store
*.log
